<!--iframe src="swagger-ui/index.html" width="100%" height="900" seamless
    target="_top" title="Swagger UI" class="border-0"></iframe-->

<div class="ubmat-panel">
        <mat-card>
            <mat-card-content>
                <section class="loss-section">    
<div>
    <h3 id="page-heading">
        <!-- <span jhiTranslate="inteliManagementApp.booking.home.title">Bookings</span>-->
        
        Transacciones recientes 
        
        <!--
        <button mat-button color="primary" [routerLink]="['/booking-im/new']">
            <fa-icon [icon]="'plus'"></fa-icon> 
            <span  jhiTranslate="inteliManagementApp.booking.home.createLabel">
                Create new Booking
            </span>
        </button>
        -->
    </h3>
    
    <table mat-table [dataSource]="bookings" class="ubmat-table -xlg" *ngIf="bookings">
     
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> <a [routerLink]="['/booking-im', element.id, 'view' ]">BO-20{{element.id}}</a> </td>
        </ng-container>

        <ng-container matColumnDef="idTransaction">
            <th mat-header-cell *matHeaderCellDef> Transaction </th>
            <td mat-cell *matCellDef="let element"> {{element.idTransaction}} </td>
        </ng-container>
    
        <ng-container matColumnDef="idReserveLocatorJuniper">
            <th mat-header-cell *matHeaderCellDef> Locator Juniper </th>
            <td mat-cell *matCellDef="let element"> {{element.idReserveLocatorJuniper}} </td>
        </ng-container>
    
        <ng-container matColumnDef="idReserveLocatorExternal">
            <th mat-header-cell *matHeaderCellDef> Locator Externo </th>
            <td mat-cell *matCellDef="let element"> {{element.idReserveLocatorExternal}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div *ngIf="bookings && bookings.length">
        <mat-paginator [length]="queryCount"
            [pageSize]="itemsPerPage"
            [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>  
    <jhi-alert></jhi-alert>
</section>          
</mat-card-content>
</mat-card>
</div> 

<!--
    <div class="table-responsive" *ngIf="bookings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idTransaction"><span jhiTranslate="inteliManagementApp.booking.idTransaction">Id Transaction</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idReserveLocatorJuniper"><span jhiTranslate="inteliManagementApp.booking.idReserveLocatorJuniper">Id Reserve Locator Juniper</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idReserveLocatorExternal"><span jhiTranslate="inteliManagementApp.booking.idReserveLocatorExternal">Id Reserve Locator External</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="detail"><span jhiTranslate="inteliManagementApp.booking.detail">Detail</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="paymentType"><span jhiTranslate="inteliManagementApp.booking.paymentType">Payment Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="paymentCreditCard"><span jhiTranslate="inteliManagementApp.booking.paymentCreditCard">Payment Credit Card</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="paymentPointsInUSD"><span jhiTranslate="inteliManagementApp.booking.paymentPointsInUSD">Payment Points In USD</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="juniperSalePrice"><span jhiTranslate="inteliManagementApp.booking.juniperSalePrice">Juniper Sale Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="juniperReservationCost"><span jhiTranslate="inteliManagementApp.booking.juniperReservationCost">Juniper Reservation Cost</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="benefitInReservation"><span jhiTranslate="inteliManagementApp.booking.benefitInReservation">Benefit In Reservation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="companyId"><span jhiTranslate="inteliManagementApp.booking.company">Company</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let booking of bookings ;trackBy: trackId">
                <td><a [routerLink]="['/booking-im', booking.id, 'view' ]">{{booking.id}}</a></td>
                <td>{{booking.idTransaction}}</td>
                <td>{{booking.idReserveLocatorJuniper}}</td>
                <td>{{booking.idReserveLocatorExternal}}</td>
                <td>{{booking.detail}}</td>
                <td>{{booking.paymentType}}</td>
                <td>{{booking.paymentCreditCard}}</td>
                <td>{{booking.paymentPointsInUSD}}</td>
                <td>{{booking.juniperSalePrice}}</td>
                <td>{{booking.juniperReservationCost}}</td>
                <td>{{booking.benefitInReservation}}</td>
                <td>
                    <div *ngIf="booking.companyId">
                        <a [routerLink]="['../company-im', booking.companyId , 'view' ]" >{{booking.companyId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/booking-im', booking.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/booking-im', booking.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'booking-im/'+ booking.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="bookings && bookings.length">
         
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
   
    </div>
</div>
-->

