<div class="ubmat-panel">
  <mat-card>
    <mat-card-content>
      <form name="editForm" role="form" novalidate #editForm="ngForm">

        <!-- reservation data -->
        <section class="loss-section">
          <h3>Datos de la reserva</h3>
          <table class="ubmat-table">
            <tr>
              <td>
              <!-- reservation ids -->
              <mat-form-field  class="ubmat-input -md">
                <input matInput type="text" name="idTransaction" id="field_idTransaction"
                [(ngModel)]="booking.idTransaction" disabled placeholder="Id transacción" value="">
              </mat-form-field>
              </td>

              <td>
                  <form class="example-form">
                  <mat-form-field class="ubmat-input -md">
                      <input matInput placeholder="Email" [formControl]="emailFormControl">
                      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                      </mat-error>
                      <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </form>
              </td>

              <td><button mat-raised-button color="primary" (click)="openDialog()">Nuevo localizador Juniper</button></td>
            </tr>
          </table>
        </section>

        <!-- Productos asociados -->
        <section class="loss-section">
          <h3 *ngIf="booking.products && booking.products.length >= 1">Productos asociados</h3>
          <table class="ubmat-table">
              <tr>
                <td colspan="3">
                    <mat-card class="ubmat-card -sm ubmat-m-sm ubmat-p-sm ubmat-bg-gray-8 ubmat-fl" *ngFor="let opt of booking.products">
                      <mat-card-header>
                          <mat-card-title><b><mat-icon class="ubmat-icon-sm">{{opt.reserveLocatorJuniperProduct.code === 'HOTEL' ? 'hotel' : 'flight'}}</mat-icon>{{opt.reserveLocatorJuniperProduct.name}}</b></mat-card-title>
                          <mat-card-subtitle class="ubmat-mb-xsm">
                             <div>Proveedor: {{opt.reserveLocatorJuniperProvider.name}}</div> 
                          </mat-card-subtitle>
                        </mat-card-header>
                      <mat-card-content class="ubmat-pl-md">
                        <div class="ubmat-fs-sm ubmat-mb-xsm">Juniper N°: {{opt.idReserveLocatorJuniper}}</div>
                        <div class="ubmat-fs-sm ubmat-mb-xsm">External N°: {{opt.idReserveLocatorExternal}}</div>
                      </mat-card-content>
                    </mat-card>
                </td>
              </tr>
          </table>
        </section>

        <mat-divider></mat-divider>

        <section class="loss-section ubmat-mt-lg">

          <table class="ubmat-table">
            <tr>
              <!-- Información sobre el Pago -->
              <td class="ubmat-vertical-top">
                <mat-card class="ubmat-card -md ubmat-bg-gray-8">
                  <mat-card-content>
                    <h3>Datos sobre el pago</h3>
                    <!-- Tipo de Pago -->
                    <mat-form-field class="ubmat-select -md">
                      <mat-select name="paymentType" id="field_paymentType" [(ngModel)]="booking.paymentType" placeholder="Tipo de Pago" required>
                        <mat-option *ngFor="let opt of paytypes" [(value)]="opt.value">
                          {{opt.description}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <!-- TC -->
                    <div *ngIf="booking.paymentType === 'CREDIT_CARD' || booking.paymentType === 'MIXED'">
                      <mat-form-field  class="ubmat-input -md">
                        <input matInput type="text" name="paymentCreditCard" id="field_paymentCreditCard"
                        [(ngModel)]="booking.paymentCreditCard" placeholder="Valor Tarjeta de Crédito" value="">
                        <span matPrefix>USD&nbsp;</span>
                      </mat-form-field>
                    </div>
                    <!-- Pts -->
                    <div *ngIf="booking.paymentType === 'POINTS' || booking.paymentType === 'MIXED'">
                      <mat-form-field  class="ubmat-input -md">
                        <input matInput type="text" name="paymentPointsInUSD" id="field_paymentPointsInUSD"
                        [(ngModel)]="booking.paymentPointsInUSD" placeholder="USD en Puntos" value="">
                        <span matPrefix>USD&nbsp;</span>
                      </mat-form-field>
                    </div>
                    <!-- Total -->
                    <div>
                      <mat-form-field  class="ubmat-input -md">
                        <input matInput type="text" disabled placeholder="Total pagos realizados" value="{{varSum(booking.paymentPointsInUSD,booking.paymentCreditCard)}}">
                        <span matPrefix>USD&nbsp;</span>
                      </mat-form-field>
                    </div>
                  </mat-card-content>
                </mat-card>
              </td>
              <!-- Información sobre el Costp -->
              <td class="ubmat-vertical-top">
                <mat-card class="ubmat-card -md ubmat-bg-gray-8">
                  <mat-card-content>
                    <h3>Datos sobre el Costo</h3>
                    <!-- Precio de Venta -->
                    <div>
                      <mat-form-field  class="ubmat-input -md">
                        <input matInput type="text" name="juniperSalePrice" id="field_juniperSalePrice" [(ngModel)]="booking.juniperSalePrice" placeholder="Precio de Venta Juniper" value="" required/>
                        <span matPrefix>USD&nbsp;</span>
                      </mat-form-field>
                    </div>
                    <!-- Costo de la Reserva -->
                    <div>
                      <mat-form-field  class="ubmat-input -md">
                        <input matInput type="text" name="juniperReservationCost" id="field_juniperReservationCost" [(ngModel)]="booking.juniperReservationCost" placeholder="Costo Reserva Juniper" value="" required/>
                        <span matPrefix>USD&nbsp;</span>
                      </mat-form-field>
                    </div>
                    <!-- Beneficio -->
                    <div>
                      <mat-form-field  class="ubmat-input -md">
                        <input matInput type="text" name="benefitInReservation" id="field_benefitInReservation" [(ngModel)]="booking.benefitInReservation" placeholder="Beneficio" value="">
                      </mat-form-field>
                    </div>
                  </mat-card-content>
                </mat-card>
              </td>
            </tr>
          </table>
        </section>

        <mat-divider></mat-divider>

        <section class="loss-section ubmat-mt-lg ubmat-mb-md">
          <button mat-raised-button  type="submit" id="save-entity" (click)="save()" [disabled]="editForm.form.invalid || isSaving" color="primary">Listo</button>
          <button mat-raised-button  type="submit" id="cancel-save" (click)="previousState()" color="default">Cancelar</button>
        </section>
    </form>
</mat-card-content>
</mat-card>
</div>
  <!-- Example AutoComplete
  <td>
      <mat-form-field class="ubmat-select -md">
      <input matInput placeholder="Escribe algo..." [matAutocomplete]="auto" [formControl]="optCtrl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let opt of filteredOpt | async" [value]="opt.description">
            <span>{{opt.description}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </td>
  -->

<!--
<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-booking-im-heading" jhiTranslate="inteliManagementApp.booking.home.createOrEditLabel">Create or edit a Booking</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!booking.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="booking.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inteliManagementApp.booking.idTransaction" for="field_idTransaction">Id Transaction</label>
                    <input type="text" class="form-control" name="idTransaction" id="field_idTransaction"
                        [(ngModel)]="booking.idTransaction" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inteliManagementApp.booking.idReserveLocatorJuniper" for="field_idReserveLocatorJuniper">Id Reserve Locator Juniper</label>
                    <input type="text" class="form-control" name="idReserveLocatorJuniper" id="field_idReserveLocatorJuniper"
                        [(ngModel)]="booking.idReserveLocatorJuniper" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inteliManagementApp.booking.idReserveLocatorExternal" for="field_idReserveLocatorExternal">Id Reserve Locator External</label>
                    <input type="text" class="form-control" name="idReserveLocatorExternal" id="field_idReserveLocatorExternal"
                        [(ngModel)]="booking.idReserveLocatorExternal" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inteliManagementApp.booking.detail" for="field_detail">Detail</label>
                    <input type="text" class="form-control" name="detail" id="field_detail"
                        [(ngModel)]="booking.detail" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inteliManagementApp.booking.paymentType" for="field_paymentType">Payment Type</label>
                    <input type="text" class="form-control" name="paymentType" id="field_paymentType"
                        [(ngModel)]="booking.paymentType" required/>
                    <div [hidden]="!(editForm.controls.paymentType?.dirty && editForm.controls.paymentType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.paymentType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inteliManagementApp.booking.paymentCreditCard" for="field_paymentCreditCard">Payment Credit Card</label>
                    <input type="number" class="form-control" name="paymentCreditCard" id="field_paymentCreditCard"
                        [(ngModel)]="booking.paymentCreditCard" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inteliManagementApp.booking.paymentPointsInUSD" for="field_paymentPointsInUSD">Payment Points In USD</label>
                    <input type="number" class="form-control" name="paymentPointsInUSD" id="field_paymentPointsInUSD"
                        [(ngModel)]="booking.paymentPointsInUSD" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inteliManagementApp.booking.juniperSalePrice" for="field_juniperSalePrice">Juniper Sale Price</label>
                    <input type="number" class="form-control" name="juniperSalePrice" id="field_juniperSalePrice"
                        [(ngModel)]="booking.juniperSalePrice" required/>
                    <div [hidden]="!(editForm.controls.juniperSalePrice?.dirty && editForm.controls.juniperSalePrice?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.juniperSalePrice?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.juniperSalePrice?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inteliManagementApp.booking.juniperReservationCost" for="field_juniperReservationCost">Juniper Reservation Cost</label>
                    <input type="number" class="form-control" name="juniperReservationCost" id="field_juniperReservationCost"
                        [(ngModel)]="booking.juniperReservationCost" required/>
                    <div [hidden]="!(editForm.controls.juniperReservationCost?.dirty && editForm.controls.juniperReservationCost?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.juniperReservationCost?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.juniperReservationCost?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inteliManagementApp.booking.benefitInReservation" for="field_benefitInReservation">Benefit In Reservation</label>
                    <input type="number" class="form-control" name="benefitInReservation" id="field_benefitInReservation"
                        [(ngModel)]="booking.benefitInReservation" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inteliManagementApp.booking.company" for="field_company">Company</label>
                    <select class="form-control" id="field_company" name="company" [(ngModel)]="booking.companyId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="companyOption.id" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
-->
