<form>
    <!-- reservation ids -->
    <section class="loss-section">
        <h3>Datos de la reserva</h3>
        <table mat-table class="ubmat-table">
          <tr mat-row>
            <td mat-cell>
            <mat-form-field  class="ubmat-input -md">
              <input matInput type="text" placeholder="Id transacción" value="">
            </mat-form-field> 
            </td>
            <td mat-cell>
              <mat-form-field  class="ubmat-input -md">
                <input matInput type="text" placeholder="Id reserva localizador Juniper" value="">
              </mat-form-field>
            </td>
            <td mat-cell>
              <mat-form-field  class="ubmat-input -md">
                <input matInput type="text" placeholder="Id reserva localizador Externo" value="">
              </mat-form-field>
            </td>
          </tr>
          <tr mat-row>          
            <td mat-cell>
            </td>
            <td mat-cell><!--empty--></td>
            <td mat-cell><!--empty--></td>  
          </tr> 
        </table>  
      </section>
      <!-- reservation data -->
      <section class="loss-section">
        <h3>Datos sobre el pago</h3>
        <!-- Información sobre el Pago -->
        <table mat-table class="ubmat-table">
          <tr mat-row>
            <!-- Tipo de Pago -->
            <td mat-cell>
              <mat-form-field class="ubmat-select -md">
              <mat-select placeholder="Tipo de Pago">
                <mat-option *ngFor="let opt of paytypes" [value]="opt.value">
                  {{opt.description}}
                </mat-option>
              </mat-select>
              </mat-form-field>
            </td>
            <td mat-cell><!--empty--></td>
            <td mat-cell><!--empty--></td>  
          </tr> 
          <tr mat-row>
            <!-- TC -->
            <td mat-cell>
              <mat-form-field  class="ubmat-input -md">
                <input matInput type="text" placeholder="Valor Tarjeta de Crédito" value="">
                <span matPrefix>USD&nbsp;</span>
              </mat-form-field>
            </td> 
            <!-- Pts -->
            <td mat-cell>
              <mat-form-field  class="ubmat-input -md">
                <input matInput type="text" placeholder="USD en Puntos" value="">
              </mat-form-field>
            </td>
            <!-- Total -->
            <td mat-cell>
              <mat-form-field  class="ubmat-input -md">
                <input matInput type="text" placeholder="Total" value="">
                <span matPrefix>USD&nbsp;</span>
              </mat-form-field>
            </td>
          </tr> 
          <tr mat-row>
              <!-- Precio de Venta -->
              <td mat-cell>
                <mat-form-field  class="ubmat-input -md">
                  <input matInput type="text" placeholder="Precio de Venta Juniper" value="">
                  <span matPrefix>USD&nbsp;</span>
                </mat-form-field>
              </td> 
              <!-- Costo de la Reserva -->
              <td mat-cell>
                <mat-form-field  class="ubmat-input -md">
                  <input matInput type="text" placeholder="Costo Reserva Juniper" value="">
                  <span matPrefix>USD&nbsp;</span>
                </mat-form-field>
              </td>
              <!-- Beneficio -->
              <td mat-cell>
                <mat-form-field  class="ubmat-input -md">
                  <input matInput type="text" placeholder="Beneficio" value="">
                </mat-form-field>
              </td>
          </tr>   
        </table>     
        <button mat-raised-button color="primary">Registrar</button>
    </section>
</form>
<hr>

<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-booking-im-heading" jhiTranslate="inteliManagementApp.booking.home.createOrEditLabel">Create or edit a Booking</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!booking.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="booking.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inteliManagementApp.booking.idTransaction" for="field_idTransaction">Id Transaction</label>
                    <input type="text" class="form-control" name="idTransaction" id="field_idTransaction"
                        [(ngModel)]="booking.idTransaction" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inteliManagementApp.booking.idReserveLocatorJuniper" for="field_idReserveLocatorJuniper">Id Reserve Locator Juniper</label>
                    <input type="text" class="form-control" name="idReserveLocatorJuniper" id="field_idReserveLocatorJuniper"
                        [(ngModel)]="booking.idReserveLocatorJuniper" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inteliManagementApp.booking.idReserveLocatorExternal" for="field_idReserveLocatorExternal">Id Reserve Locator External</label>
                    <input type="text" class="form-control" name="idReserveLocatorExternal" id="field_idReserveLocatorExternal"
                        [(ngModel)]="booking.idReserveLocatorExternal" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inteliManagementApp.booking.detail" for="field_detail">Detail</label>
                    <input type="text" class="form-control" name="detail" id="field_detail"
                        [(ngModel)]="booking.detail" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inteliManagementApp.booking.company" for="field_company">Company</label>
                    <select class="form-control" id="field_company" name="company" [(ngModel)]="booking.companyId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="companyOption.id" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
