--------------PRUEBA MATERIAL---------------
<div class="ubmat-panel">
    <mat-card>
    <mat-card-content>
      <form>
      <!-- reservation ids -->
      <section class="loss-section">
        <h3>Datos de la reserva</h3>
        <table mat-table class="ubmat-table">
          <tr mat-row>
            <td mat-cell>
            <mat-form-field  class="ubmat-input -md">
              <input matInput type="text" placeholder="Id transacción" value="">
            </mat-form-field> 
            </td>
            <td mat-cell>
              <mat-form-field  class="ubmat-input -md">
                <input matInput type="text" placeholder="Id reserva localizador Juniper" value="">
              </mat-form-field>
            </td>
            <td mat-cell>
              <mat-form-field  class="ubmat-input -md">
                <input matInput type="text" placeholder="Id reserva localizador Externo" value="">
              </mat-form-field>
            </td>
          </tr>
          <tr mat-row>          
            <td mat-cell>
            </td>
            <td mat-cell><!--empty--></td>
            <td mat-cell><!--empty--></td>  
          </tr> 
        </table>  
      </section>
      <!-- reservation data -->
      <section class="loss-section">
        <h3>Datos sobre el pago</h3>
        <!-- Información sobre el Pago -->
        <table mat-table class="ubmat-table">
          <tr mat-row>
            <!-- Tipo de Pago -->
            <td mat-cell>
              <mat-form-field class="ubmat-select -md">
              <mat-select placeholder="Tipo de Pago">
                <mat-option *ngFor="let opt of paytypes" [value]="opt.value">
                  {{opt.description}}
                </mat-option>
              </mat-select>
              </mat-form-field>
            </td>
            <td mat-cell><!--empty--></td>
            <td mat-cell><!--empty--></td>  
          </tr> 
          <tr mat-row>
            <!-- TC -->
            <td mat-cell>
              <mat-form-field  class="ubmat-input -md">
                <input matInput type="text" placeholder="Valor Tarjeta de Crédito" value="">
                <span matPrefix>USD&nbsp;</span>
              </mat-form-field>
            </td> 
            <!-- Pts -->
            <td mat-cell>
              <mat-form-field  class="ubmat-input -md">
                <input matInput type="text" placeholder="USD en Puntos" value="">
              </mat-form-field>
            </td>
            <!-- Total -->
            <td mat-cell>
              <mat-form-field  class="ubmat-input -md">
                <input matInput type="text" placeholder="Total" value="">
                <span matPrefix>USD&nbsp;</span>
              </mat-form-field>
            </td>
          </tr> 
          <tr mat-row>
              <!-- Precio de Venta -->
              <td mat-cell>
                <mat-form-field  class="ubmat-input -md">
                  <input matInput type="text" placeholder="Precio de Venta Juniper" value="">
                  <span matPrefix>USD&nbsp;</span>
                </mat-form-field>
              </td> 
              <!-- Costo de la Reserva -->
              <td mat-cell>
                <mat-form-field  class="ubmat-input -md">
                  <input matInput type="text" placeholder="Costo Reserva Juniper" value="">
                  <span matPrefix>USD&nbsp;</span>
                </mat-form-field>
              </td>
              <!-- Beneficio -->
              <td mat-cell>
                <mat-form-field  class="ubmat-input -md">
                  <input matInput type="text" placeholder="Beneficio" value="">
                </mat-form-field>
              </td>
          </tr>   
        </table> 
        <!--     
        <button mat-raised-button color="primary">Registrar</button>
        -->
      </section>
    </form>
    </mat-card-content>
    </mat-card>
  </div>
  --------------PRUEBA MATERIAL---------------
<div>
    <h2 id="page-heading">
        <span jhiTranslate="inteliManagementApp.booking.home.title">Bookings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-booking-im" [routerLink]="['/booking-im/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="inteliManagementApp.booking.home.createLabel">
            Create new Booking
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="bookings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idTransaction"><span jhiTranslate="inteliManagementApp.booking.idTransaction">Id Transaction</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idReserveLocatorJuniper"><span jhiTranslate="inteliManagementApp.booking.idReserveLocatorJuniper">Id Reserve Locator Juniper</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idReserveLocatorExternal"><span jhiTranslate="inteliManagementApp.booking.idReserveLocatorExternal">Id Reserve Locator External</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="detail"><span jhiTranslate="inteliManagementApp.booking.detail">Detail</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="companyId"><span jhiTranslate="inteliManagementApp.booking.company">Company</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let booking of bookings ;trackBy: trackId">
                <td><a [routerLink]="['/booking-im', booking.id, 'view' ]">{{booking.id}}</a></td>
                <td>{{booking.idTransaction}}</td>
                <td>{{booking.idReserveLocatorJuniper}}</td>
                <td>{{booking.idReserveLocatorExternal}}</td>
                <td>{{booking.detail}}</td>
                <td>
                    <div *ngIf="booking.companyId">
                        <a [routerLink]="['../company-im', booking.companyId , 'view' ]" >{{booking.companyId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/booking-im', booking.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/booking-im', booking.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'booking-im/'+ booking.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="bookings && bookings.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
