<div class="ubmat-panel">
    <mat-card>
        <mat-card-content>
            <section class="loss-section">    
                <h2><b>#{{booking.idReserveLocatorJuniper}}</b></h2>           
                <table>
                    <tr><td>Transacción</td><td>{{booking.idTransaction}}</td></tr>
                    <tr><td>Externar Locator</td><td>{{booking.idReserveLocatorExternal}}</td></tr>
                </table>
            
                <table>
                    <tr>
                        <td>
                            <table>
                                <tr><td colspan="2"><b>Pagos</b></td></tr>
                                <tr><td>Tipo de pago</td><td>{{booking.paymentType}}</td></tr>
                                <tr><td>Tarjeta de Crédito</td><td>{{booking.paymentCreditCard}}</td></tr>
                                <tr><td>Puntos</td><td>{{booking.paymentPointsInUSD}}</td></tr>
                            </table>                
                        </td>
                        <td>
                            <table>
                                <tr><td colspan="2"><b>Costos Juniper</b></td></tr>
                                <tr><td>Costo de la reserva </td><td>{{booking.juniperReservationCost}}</td></tr>
                                <tr><td>Precio de venta</td><td>{{booking.juniperSalePrice}}</td></tr>
                                <tr><td>Beneficio</td><td>{{booking.benefitInReservation}}</td></tr>
                            </table>               
                        </td>
                    </tr>
                </table>
            <hr>
            <mat-card class="ubmat-card" *ngFor="let variation of variations">
              <mat-card-header>
                <mat-card-title><b>{{variation.code}}</b> ~ {{variation.product}} / {{variation.provider}}</mat-card-title>
                <mat-card-subtitle>
                   <div>Creado por: {{variation.creation_user}} ~ {{variation.creation_date}}</div> 
                   <div>Autorizado: {{variation.approval_user}} ~ {{variation.approval_date}}</div> 
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                        <table>
                            <tr><td>Cargo</td><td>~ usd</td><td>{{variation.new_charge}}</td></tr>
                            <tr><td>Costo</td><td>~ usd</td><td>{{variation.new_cost}}</td></tr>
                            <tr><td>Beneficio</td><td>~ usd</td><td>{{variation.new_benefit}}</td></tr>
                        </table> 
                <h4><b>Descripción</b></h4>         
                <p>{{variation.comments}}</p>
              </mat-card-content>
            </mat-card>
          </section>
          
        </mat-card-content>
        </mat-card>
      </div> 
<!--
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="booking">
            <h2>{{booking.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="inteliManagementApp.booking.idTransaction">Id Transaction</span></dt>
                <dd>
                    <span>{{booking.idTransaction}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.booking.idReserveLocatorJuniper">Id Reserve Locator Juniper</span></dt>
                <dd>
                    <span>{{booking.idReserveLocatorJuniper}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.booking.idReserveLocatorExternal">Id Reserve Locator External</span></dt>
                <dd>
                    <span>{{booking.idReserveLocatorExternal}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.booking.detail">Detail</span></dt>
                <dd>
                    <span>{{booking.detail}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.booking.paymentType">Payment Type</span></dt>
                <dd>
                    <span>{{booking.paymentType}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.booking.paymentCreditCard">Payment Credit Card</span></dt>
                <dd>
                    <span>{{booking.paymentCreditCard}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.booking.paymentPointsInUSD">Payment Points In USD</span></dt>
                <dd>
                    <span>{{booking.paymentPointsInUSD}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.booking.juniperSalePrice">Juniper Sale Price</span></dt>
                <dd>
                    <span>{{booking.juniperSalePrice}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.booking.juniperReservationCost">Juniper Reservation Cost</span></dt>
                <dd>
                    <span>{{booking.juniperReservationCost}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.booking.benefitInReservation">Benefit In Reservation</span></dt>
                <dd>
                    <span>{{booking.benefitInReservation}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.booking.company">Company</span></dt>
                <dd>
                    <div *ngIf="booking.companyId">
                        <a [routerLink]="['/company-im', booking.companyId, 'view']">{{booking.companyId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/booking-im', booking.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
-->