<div class="ubmat-panel">
        <mat-card class="ubmat-bg-gray-8">
            <mat-card-content>
                <section class="loss-section">    
                            <!-- booking detail -->
                            <h3 class="ubmat-mb-sm">Reserva Numero <b>#{{booking.idTransaction}}</b></h3> 
                            <p class="ubmat-tc-gray-4">Ultima actualización, hace 2 semanas el 20-09-2018 a las 18:07:35</p>                                  
                            <mat-chip-list>
                                    <mat-chip color="primary" selected>Total Ingresos: {{booking.paymentCreditCard+booking.paymentPointsInUSD}}</mat-chip>
                                    <mat-chip>Total Beneficio: {{booking.benefitInReservation}}</mat-chip>
                                    <mat-chip>Total Pago a proveedores: {{booking.juniperReservationCost}}</mat-chip>
                                    <mat-chip color="accent" selected>Utilidad: {{(booking.paymentCreditCard + booking.paymentPointsInUSD) - (booking.juniperSalePrice - booking.juniperReservationCost)}}</mat-chip>
                                </mat-chip-list>   
                            <table class ="ubmat-table -md ubmat-mt-md">
                                <tr>
                                    <td>
                                        <table>
                                            <tr><td colspan="2"><b>Pagos</b></td></tr>
                                            <tr><td>Tipo de pago</td><td>{{booking.paymentType}}</td></tr>
                                            <tr><td>Tarjeta de Crédito</td><td>{{booking.paymentCreditCard}}</td></tr>
                                            <tr><td>Puntos</td><td>{{booking.paymentPointsInUSD}}</td></tr>
                                        </table>                
                                    </td>
                                    <td>
                                        <table>
                                            <tr><td colspan="2"><b>Costos Juniper</b></td></tr>
                                            <tr><td>Costo de la reserva </td><td>{{booking.juniperReservationCost}}</td></tr>
                                            <tr><td>Precio de venta</td><td>{{booking.juniperSalePrice}}</td></tr>
                                            <tr><td>Beneficio</td><td>{{booking.benefitInReservation}}</td></tr>
                                        </table>               
                                    </td>
                                </tr>
                            </table>
                             <!-- end booking detail -->            
                        <mat-tab-group dynamicHeight [selectedIndex]="selectedIndex" (selectedIndexChange)="selectedIndex = $event" class="ubmat-tab-detail-group ubmat-mt-lg">
                            <mat-tab *ngFor="let tab of booking.products">
                                
                                    <ng-template mat-tab-label class="ubmat-tab-detail">
                                            <div class="ubmat-tab-detail-title">
                                                <mat-icon class="ubmat-icon-sm">{{tab.reserveLocatorJuniperProduct.code === 'HOTEL' ? 'location_city' : 'flight'}}</mat-icon> 
                                                {{tab.reserveLocatorJuniperProduct.name}}
                                            </div>
                                            <div class="ubmat-tab-detail-comment">Locador Juniper N° {{tab.idReserveLocatorJuniper}}</div>
                                    </ng-template>
                                    <ng-template matTabContent>
                                        <div class="ubmat-p-lg">
                                            <h1 class="ubmat-mb-xsm"><!--{{tab.productId}}--> <mat-icon class="ubmat-fl ubmat-mr-sm">{{tab.reserveLocatorJuniperProduct.code === 'HOTEL' ? 'location_city' : 'flight'}}</mat-icon> {{tab.reserveLocatorJuniperProduct.name}}</h1>
                                            <p class="ubmat-mt-xsm ubmat-tc-gray-4">Locador Juniper N°: {{tab.idReserveLocatorJuniper}}, Proveedor: {{tab.reserveLocatorJuniperProvider.name}}</p>
                                              <!--beging content-->


                                              
                                              <p *ngIf="!tab.variations.length">Aún no se creó ningún registro de variación en esta reserva.</p>
                                              
                                                <mat-chip-list>
                                                    <mat-chip color="primary" selected> Cobro Extra ~ usd: {{tab.TotExtraCharge}}</mat-chip>
                                                    <mat-chip color="primary" selected> Nuevos Cargo ~ usd: {{tab.TotNewCharge}}</mat-chip>
                                                    <mat-chip color="primary" selected> Nuevos Costo ~ usd: {{tab.TotNewCost}}</mat-chip>
                                                    <mat-chip color="primary" selected> Nuevos Beneficio ~ usd: {{tab.TotNewBenefit}}</mat-chip>
                                                    <mat-chip color="accent" selected> Devolución ~ usd: {{tab.TotRefundInCash}}</mat-chip>
                                                    <mat-chip color="accent" selected> Devolución ~ pts: {{tab.TotRefundInPoints}}</mat-chip>
                                                </mat-chip-list> 
                                                <hr>  
                                              
                                              
                                              <button mat-button color="primary"  [routerLink]="['/variation/',tab.id,'new' ]">+ Agregar una variación</button>            
                                                <mat-card class="ubmat-card ubmat-bg-white" *ngFor="let variation of tab.variations">
                                                  <mat-card-header>
                                                        <div mat-card-avatar>
                                                            <mat-icon class="ubmat-icon-xlg ubmat-tc-green-4" *ngIf="variation.approvals.status == 'APPROVED'">verified_user</mat-icon>
                                                            <mat-icon class="ubmat-icon-xlg ubmat-tc-blue-4" *ngIf="variation.approvals.status == 'CREATE'">watch_later</mat-icon>
                                                            <mat-icon class="ubmat-icon-xlg ubmat-tc-red-4" *ngIf="variation.approvals.status == 'REJECTED'">remove_circle</mat-icon>
                                                            <mat-icon class="ubmat-icon-xlg ubmat-tc-red-4" *ngIf="variation.approvals.status == 'CANCELED'">cancel</mat-icon>
                                                        </div>                                                      
                                                        <mat-card-title [ngClass]="{'ubmat-tc-green-4': variation.approvals.status == 'APPROVED'}">
                                                            <b *ngIf="variation.approvals.status == 'APPROVED'">Variación Aprobada</b>
                                                            <b *ngIf="variation.approvals.status == 'CREATE'">Variación Pendiente</b>
                                                            <b *ngIf="variation.approvals.status == 'REJECTED'">Variación Rechazada</b>
                                                            <b *ngIf="variation.approvals.status == 'CANCELED'">Variación Cancelada</b>
                                                        </mat-card-title>
                                                        <mat-card-subtitle>
                                                            variación número: {{variation.id}}
                                                        </mat-card-subtitle>
                                                    </mat-card-header>
                                                    <mat-card-content>
                                                        <mat-divider            
                                                        [ngClass]="{
                                                            'ubmat-bg-green-2': variation.approvals.status == 'APPROVED', 
                                                            'ubmat-bg-blue-2': variation.approvals.status == 'CREATE', 
                                                            'ubmat-bg-red-2': variation.approvals.status == 'REJECTED'
                                                        }">
                                                        </mat-divider>
                                                        <div class="ubmat-pl-lg ubmat-pt-md ubmat-pb-xsm">
                                                            <div>Motivo: {{variation.reason}}</div>
                                                            <div>Creado por: {{variation.creationUser.firstName }} {{variation.creationUser.lastName}} ~ {{variation.creationDate | date:'medium'}}</div> 
                                                            <div>Autorizado: {{variation.approvals.stastDate | date:'medium'}}</div>
                                                            <table class="ubmat-mt-md">                                                                    
                                                                <tr *ngIf="variation.extraCharge">
                                                                    <td><b>Cargo Extra</b></td>
                                                                    <td class="ubmat-tc-gray-4">~ usd:</td>
                                                                    <td>{{variation.extraCharge | number}}</td>
                                                                </tr>                                                                    
                                                                <tr *ngIf="variation.newCharge">
                                                                    <td><b>Nuevo Cargo</b></td>
                                                                    <td class="ubmat-tc-gray-4">~ usd:</td>
                                                                    <td>{{variation.newCharge | number}}</td>
                                                                </tr>
                                                                <tr *ngIf="variation.newCost">
                                                                    <td><b>Nuevo Costo</b></td>
                                                                    <td class="ubmat-tc-gray-4">~ usd:</td>
                                                                    <td>{{variation.newCost | number}}</td>
                                                                </tr>
                                                                <tr *ngIf="variation.newBenefit">
                                                                    <td><b>Beneficio</b></td>
                                                                    <td class="ubmat-tc-gray-4">~ usd:</td>
                                                                    <td>{{variation.newBenefit | number}}</td>
                                                                </tr>
                                                                <tr *ngIf="variation.refundInCash">
                                                                    <td><b>Devolución en Efectivo</b></td>
                                                                    <td class="ubmat-tc-gray-4">~ usd:</td>
                                                                    <td>{{variation.refundInCash | number }}</td>
                                                                </tr>
                                                                <tr *ngIf="variation.refundInPoints">
                                                                    <td><b>Devolución de Puntos</b></td>
                                                                    <td class="ubmat-tc-gray-4">~ pts:</td>
                                                                    <td>{{variation.refundInPoints | number}}</td>
                                                                </tr>
                                                            </table>     
                                                            <h4 *ngIf="variation.newExternalLocatorId" class="ubmat-tc-red-4">nuevo Locador Externo <b>{{variation.newExternalLocatorId}}</b></h4>                                                              
                                                        </div>
                                                        <mat-accordion class="ubmat-mb-md">
                                                                <mat-expansion-panel class="ubmat-non-boxshadow" [disabled]="!variation.comments || variation.comments.length < 100" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                                                    <mat-expansion-panel-header>
                                                                        <mat-panel-title style="flex-grow:unset;">
                                                                            <span class="ubmat-tc-black"><b>Descripción:</b></span>
                                                                        </mat-panel-title>
                                                                        <mat-panel-description matTooltip="click para ver la descripción completa..."  [matTooltipDisabled]="variation.comments && variation.comments.length < 6"  matTooltipClass="ubmat-tooltip">
                                                                             {{ variation.comments ? '~ '+variation.comments+'...' : 'Sin Descripción' | slice:0:100 }}
                                                                        </mat-panel-description>
                                                                    </mat-expansion-panel-header>
                                                                    <ng-template class="ubmat-pb-no" matExpansionPanelContent>
                                                                        <p class="ubmat-m-no ubmat-tc-gray-1">{{variation.comments}}</p>
                                                                    </ng-template>
                                                                </mat-expansion-panel>
                                                                <!--                                                        
                                                                <mat-expansion-panel class="ubmat-non-boxshadow" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                                                 <mat-expansion-panel-header>
                                                                   <mat-panel-title>
                                                                     <b>Historial</b>
                                                                   </mat-panel-title>
                                                                 </mat-expansion-panel-header>
                                                                 <ul *ngIf="variation.approvals && variation.approvals.history.length > 0">
                                                                    <li *ngFor="let history of variation.approvals.history">
                                                                            <mat-icon *ngIf="history.status == 'CREATE'"  class="ubmat-icon-sm">home</mat-icon>
                                                                            <mat-icon *ngIf="history.status == 'APPROVED'" class="ubmat-icon-sm ubmat-tc-green-4">exposure_plus_1</mat-icon> 
                                                                            <mat-icon *ngIf="history.status == 'REJECTED'" class="ubmat-icon-sm ubmat-tc-red-4">exposure_neg_1</mat-icon>
                                                                            
                                                                            <span *ngIf="history.status == 'CREATE'"> variación creada por {{history.user.firstName}} {{history.user.lastName}}</span>
                                                                            <span *ngIf="history.status == 'APPROVED'" > {{history.user.firstName}} {{history.user.lastName}} dio su aprobación </span> 
                                                                            <span *ngIf="history.status == 'REJECTED'"> {{history.user.firstName}} {{history.user.lastName}} rechazó el pedido</span>
                                                                    </li>
                                                                </ul>
                                                               </mat-expansion-panel>
                                                               -->
                                                        </mat-accordion>
                                                        <mat-list>
                                                            <mat-divider></mat-divider>                                                           
                                                            <mat-list-item class="ubmat-mt-xsm">
                                                                <button *ngIf="variation.privilege && variation.privilege.approve === true ? true : false" class="ubmat-mr-xsm" mat-raised-button color="primary" (click)="approve(variation.id)">Aprobar</button>
                                                                <button *ngIf="variation.privilege && variation.privilege.rejected === true ? true : false" class="ubmat-mr-xsm" mat-raised-button color="accent" (click)="rejected(variation.id)">Rechazar</button> 
                                                                <button mat-raised-button color="warn" (click)="recover(variation.id)" *ngIf="variation.recoverable"><i class="material-icons">priority_high</i> Recuperar</button>                                                               
                                                            </mat-list-item>
                                                        </mat-list>
                                                    </mat-card-content>
                                                </mat-card>
                                              <!--end content--> 
                                        </div>      
                                    </ng-template>                                               
                            </mat-tab>
                        </mat-tab-group>
                </section>
            </mat-card-content>
            </mat-card>
          </div> 
<!--
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="booking">
            <h2>{{booking.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="inteliManagementApp.booking.idTransaction">Id Transaction</span></dt>
                <dd>
                    <span>{{booking.idTransaction}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.booking.idReserveLocatorJuniper">Id Reserve Locator Juniper</span></dt>
                <dd>
                    <span>{{booking.idReserveLocatorJuniper}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.booking.idReserveLocatorExternal">Id Reserve Locator External</span></dt>
                <dd>
                    <span>{{booking.idReserveLocatorExternal}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.booking.detail">Detail</span></dt>
                <dd>
                    <span>{{booking.detail}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.booking.paymentType">Payment Type</span></dt>
                <dd>
                    <span>{{booking.paymentType}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.booking.paymentCreditCard">Payment Credit Card</span></dt>
                <dd>
                    <span>{{booking.paymentCreditCard}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.booking.paymentPointsInUSD">Payment Points In USD</span></dt>
                <dd>
                    <span>{{booking.paymentPointsInUSD}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.booking.juniperSalePrice">Juniper Sale Price</span></dt>
                <dd>
                    <span>{{booking.juniperSalePrice}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.booking.juniperReservationCost">Juniper Reservation Cost</span></dt>
                <dd>
                    <span>{{booking.juniperReservationCost}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.booking.benefitInReservation">Benefit In Reservation</span></dt>
                <dd>
                    <span>{{booking.benefitInReservation}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.booking.company">Company</span></dt>
                <dd>
                    <div *ngIf="booking.companyId">
                        <a [routerLink]="['/company-im', booking.companyId, 'view']">{{booking.companyId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/booking-im', booking.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
-->
