<nav class="nav-find" mat-tab-nav-bar [backgroundColor]="background">
        <a mat-tab-link *ngFor="let link of links" (click)="activeLink = link.title" [active]="activeLink == link.title" routerLink="{{link.routerlink}}">
                <mat-icon class="ubmat-mr-sm" *ngIf="link.icon" matSuffix>{{link.icon}}</mat-icon> {{link.title}}
        </a>
</nav>
<nav class="nav-find" *ngIf="activeLink == 'Home'">
        <mat-form-field class="ubmat-input -md">
                <input matInput type="text" placeholder="Identificador Onepocket Juniper" [(ngModel)]="search">
        </mat-form-field>
        <div class="button-find">
                <button mat-raised-button color="primary" (click)="onSearch()"><mat-icon class="ubmat-icon-md">search</mat-icon> Buscar</button>
        </div>
</nav>