<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="variation">
            <h2><span jhiTranslate="inteliManagementApp.variation.detail.title">Variation</span> {{variation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="inteliManagementApp.variation.extraCharge">Extra Charge</span></dt>
                <dd>
                    <span>{{variation.extraCharge}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.variation.newCharge">New Charge</span></dt>
                <dd>
                    <span>{{variation.newCharge}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.variation.newCost">New Cost</span></dt>
                <dd>
                    <span>{{variation.newCost}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.variation.newBenefit">New Benefit</span></dt>
                <dd>
                    <span>{{variation.newBenefit}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.variation.newExternalLocatorId">New External Locator Id</span></dt>
                <dd>
                    <span>{{variation.newExternalLocatorId}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.variation.comments">Comments</span></dt>
                <dd>
                    <span>{{variation.comments}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.variation.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{variation.creationDate}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.variation.creationUser">Creation User</span></dt>
                <dd>
                    <span>{{variation.creationUser}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.variation.provider">Provider</span></dt>
                <dd>
                    <span>{{variation.provider}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.variation.product">Product</span></dt>
                <dd>
                    <span>{{variation.product}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.variation.area">Area</span></dt>
                <dd>
                    <span>{{variation.area}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.variation.campaing">Campaing</span></dt>
                <dd>
                    <span>{{variation.campaing}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.variation.reason">Reason</span></dt>
                <dd>
                    <span>{{variation.reason}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.variation.recoverable">Recoverable</span></dt>
                <dd>
                    <span>{{variation.recoverable}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.variation.refundInPoints">Refund In Points</span></dt>
                <dd>
                    <span>{{variation.refundInPoints}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.variation.refundInCash">Refund In Cash</span></dt>
                <dd>
                    <span>{{variation.refundInCash}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.variation.cacel">Cacel</span></dt>
                <dd>
                    <span>{{variation.cacel}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/variation', variation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
