<mat-list-option class="ubmat-notification">
    <img matListAvatar src="../../../../../../../webpack/logo-jhipster.png" alt="">
    <h3  matLine class="-header -title"> #{{notification.referenceId}} Registro Rechazado</h3>
    <div matLine>
      <span class="-content">Tu registro de variación creado para la reserva n° xxxxxxxx fue rechazado por <b>{{notification.name}}</b>.</span>
      <span class="-footer">Enviado por: {{notification.name}} ~ {{notification.date | date:'dd-MM-yyyy HH:mm:ss'}}</span>
    </div>
</mat-list-option>