<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productByBooking">
            <h2><span jhiTranslate="inteliManagementApp.productByBooking.detail.title">Product By Booking</span> {{productByBooking.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="inteliManagementApp.productByBooking.product">Product</span></dt>
                <dd>
                    <div *ngIf="productByBooking.productId">
                        <a [routerLink]="['/product-im', productByBooking.productId, 'view']">{{productByBooking.productId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.productByBooking.booking">Booking</span></dt>
                <dd>
                    <div *ngIf="productByBooking.bookingId">
                        <a [routerLink]="['/booking-im', productByBooking.bookingId, 'view']">{{productByBooking.bookingId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-by-booking', productByBooking.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
