<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="company">
            <h2><span jhiTranslate="inteliManagementApp.company.detail.title">Company</span> {{company.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="inteliManagementApp.company.name">Name</span></dt>
                <dd>
                    <span>{{company.name}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.company.email">Email</span></dt>
                <dd>
                    <span>{{company.email}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.company.actived">Actived</span></dt>
                <dd>
                    <span>{{company.actived}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.company.img">Img</span></dt>
                <dd>
                    <span>{{company.img}}</span>
                </dd>
                <dt><span jhiTranslate="inteliManagementApp.company.address">Address</span></dt>
                <dd>
                    <div *ngIf="company.addressId">
                        <a [routerLink]="['/address-im', company.addressId, 'view']">{{company.addressId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/company-im', company.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
