<mat-toolbar color="primary">
        <mat-toolbar-row>
                <span>IM Novae</span>
                ------------
                <profile-img [img]="1.png"></profile-img>
                -----------
                <span class="ubmat-nav-spacer"></span>

                <button mat-button [matMenuTriggerFor]="menu">

                        <span *ngIf="!getImageUrl()">
                                <fa-icon [icon]="'user'"></fa-icon>
                                <span jhiTranslate="global.menu.account.main">
                                        <mat-icon>account_circle</mat-icon> Account
                                </span>
                        </span>
                        <span *ngIf="getImageUrl()">
                                <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                        </span>


                </button>
                <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="logout()" id="logout">
                                <fa-icon [icon]="'sign-out-alt'" [fixedWidth]="true"></fa-icon>
                                <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </button>
                        <button mat-menu-item (click)="login()" id="login">
                                <fa-icon [icon]="'sign-in-alt'" [fixedWidth]="true"></fa-icon>
                                <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </button>
                        <button mat-menu-item routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon [icon]="'clock'" [fixedWidth]="true"></fa-icon>
                                <span jhiTranslate="global.menu.account.password">Password</span>
                        </button>
                        <button mat-menu-item routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon [icon]="'wrench'" [fixedWidth]="true"></fa-icon>
                                <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </button>

                </mat-menu>
        </mat-toolbar-row>
</mat-toolbar>