/* You can add global styles to this file, and also import other style files */
/* Default theme from angular material */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
}

.nav-find {
    background-color: #eee;
    padding: 10px 15px 0 15px;
}

.input-find {
    margin: 0;
}

.button-find {
    display: inline-block;
    margin: 0 15px;
}

/* ubmat-notification */

.ubmat-notification {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    display: block;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin: 5px 0;
    padding: 20px 30px 5px 30px;
}

.ubmat-notification.-header {
    margin: 0;
}

.ubmat-notification > .-header > .-title {
    display: inline;
    font-weight: bold;
}

.ubmat-notification > .-content {
    margin: 0;
}

.ubmat-notification > .-footer {
    margin: 0;
    color: #888;
    font-size: 12px;
}

/* ubmat-CSS text-align */

.ubmat-align-l {
    text-align: left;
}

.ubmat-align-r {
    text-align: right;
}

.ubmat-align-c {
    text-align: center;
}

/* ubmat-ICON */

.ubmat-icon-xsm {
    vertical-align: middle;
    font-size: 12px;
}

.ubmat-icon-sm {
    vertical-align: middle;
    font-size: 20px;
}

.ubmat-icon-md {
    vertical-align: middle;
    font-size: 24px;
}

.ubmat-icon-lg {
    vertical-align: middle;
    font-size: 32px;
}

.ubmat-icon-xlg {
    vertical-align: middle;
    font-size: 36px;
}

.ubmat-icon-xxlg {
    vertical-align: middle;
    font-size: 64px;
}

/* ubmat-CSS font-size */

.ubmat-fs-xsm {
    font-size: 8px;
}

.ubmat-fs-sm {
    font-size: 12px;
}

.ubmat-fs-md {
    font-size: 14px;
}

.ubmat-fs-lg {
    font-size: 16px;
}

.ubmat-fs-xlg {
    font-size: 20px;
}

/* ubmat-CSS Colors B&W */

.ubmat-tc-white {
    color: #fff;
}

.ubmat-tc-gray-8 {
    color: #f5f5f5;
}

.ubmat-tc-gray-7 {
    color: #eee;
}

.ubmat-tc-gray-6 {
    color: #ddd;
}

.ubmat-tc-gray-5 {
    color: #ccc;
}

.ubmat-tc-gray-4 {
    color: #aaa;
}

.ubmat-tc-gray-3 {
    color: #888;
}

.ubmat-tc-gray-2 {
    color: #666;
}

.ubmat-tc-gray-1 {
    color: #444;
}

.ubmat-tc-gray-0 {
    color: #444;
}

.ubmat-tc-black {
    color: #000;
}

/* ubmat-CSS Colors Yellow */

.ubmat-tc-yellow-1 {
    color: #fcf7c5;
}

.ubmat-tc-yellow-2 {
    color: #fff68f;
}

.ubmat-tc-yellow-3 {
    color: #fff157;
}

.ubmat-tc-yellow-4 {
    color: #fae829;
}

/* ubmat-CSS Colors Green */

.ubmat-tc-green-1 {
    color: #5dcf7b;
}

.ubmat-tc-green-2 {
    color: #39c15c;
}

.ubmat-tc-green-3 {
    color: #00b02e;
}

.ubmat-tc-green-4 {
    color: #029729;
}

/* ubmat-CSS Colors Red */

.ubmat-tc-red-1 {
    color: #f96f5d;
}

.ubmat-tc-red-2 {
    color: #f7432c;
}

.ubmat-tc-red-3 {
    color: #eb1b00;
}

.ubmat-tc-red-4 {
    color: #db1c00;
}

/* ubmat-CSS Margin & Padding */

/* bottom*/
.ubmat-mb-xsm {
    margin-bottom: 5px;
}
.ubmat-mb-sm {
    margin-bottom: 10px;
}
.ubmat-mb-md {
    margin-bottom: 15px;
}
.ubmat-mb-lg {
    margin-bottom: 20px;
}
.ubmat-mb-xlg {
    margin-bottom: 25px;
}

.ubmat-pb-xsm {
    padding-bottom: 5px;
}
.ubmat-pb-sm {
    padding-bottom: 10px;
}
.ubmat-pb-md {
    padding-bottom: 15px;
}
.ubmat-pb-lg {
    padding-bottom: 20px;
}
.ubmat-pb-xlg {
    padding-bottom: 25px;
}

/* top */
.ubmat-mt-xsm {
    margin-top: 5px;
}
.ubmat-mt-sm {
    margin-top: 10px;
}
.ubmat-mt-md {
    margin-top: 15px;
}
.ubmat-mt-lg {
    margin-top: 20px;
}
.ubmat-mt-xlg {
    margin-top: 25px;
}

.ubmat-pt-xsm {
    padding-top: 5px;
}
.ubmat-pt-sm {
    padding-top: 10px;
}
.ubmat-pt-md {
    padding-top: 15px;
}
.ubmat-pt-lg {
    padding-top: 20px;
}
.ubmat-pt-xlg {
    padding-top: 25px;
}

/* left */
.ubmat-ml-xsm {
    margin-left: 5px;
}
.ubmat-ml-sm {
    margin-left: 10px;
}
.ubmat-ml-md {
    margin-left: 15px;
}
.ubmat-ml-lg {
    margin-left: 20px;
}
.ubmat-ml-xlg {
    margin-left: 25px;
}

.ubmat-pl-xsm {
    padding-left: 5px;
}
.ubmat-pl-sm {
    padding-left: 10px;
}
.ubmat-pl-md {
    padding-left: 15px;
}
.ubmat-pl-lg {
    padding-left: 20px;
}
.ubmat-pl-xlg {
    padding-left: 25px;
}

/* right */
.ubmat-mr-xsm {
    margin-right: 5px;
}
.ubmat-mr-sm {
    margin-right: 10px;
}
.ubmat-mr-md {
    margin-right: 15px;
}
.ubmat-mr-lg {
    margin-right: 20px;
}
.ubmat-mr-xlg {
    margin-right: 25px;
}

.ubmat-pr-xsm {
    padding-right: 5px;
}
.ubmat-pr-sm {
    padding-right: 10px;
}
.ubmat-pr-md {
    padding-right: 15px;
}
.ubmat-pr-lg {
    padding-right: 20px;
}
.ubmat-pr-xlg {
    padding-right: 25px;
}

/* all */
.ubmat-m-xsm {
    margin: 5px;
}
.ubmat-m-sm {
    margin: 10px;
}
.ubmat-m-md {
    margin: 15px;
}
.ubmat-m-lg {
    margin: 20px;
}
.ubmat-m-xlg {
    margin: 25px;
}

.ubmat-p-xsm {
    padding: 5px;
}
.ubmat-p-sm {
    padding: 10px;
}
.ubmat-p-md {
    padding: 15px;
}
.ubmat-p-lg {
    padding: 20px;
}
.ubmat-p-xlg {
    padding: 25px;
}

/* ubmat-CSS Float */
.ubmat-fl {
    float: left;
}

.ubmat-fr {
    float: right;
}

/* ubmat-CSS Nav-bar */
.ubmat-nav-spacer {
    flex: 1 1 auto;
}

/* ubmat-CSS Tabs */

.ubmat-tab-detail-title {
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 7.5px;
}

.ubmat-tab-detail-comment {
    font-size: 12px;
    padding-bottom: 7.5px;
    color: #aaa;
}

.ubmat-tab-detail-group
    > .mat-tab-header
    > .mat-tab-label-container
    > .mat-tab-list
    > .mat-tab-labels
    > .mat-tab-label
    > .mat-tab-label-content {
    display: inline-block;
    text-align: left;
}

/* ubmat-CSS Card */
.ubmat-card {
    margin-top: 5px;
    margin-bottom: 10px;
}

.ubmat-card.-sm {
    width: 250px;
    font-size: 12px;
    line-height: 1;
}

.ubmat-card.-md {
    width: 500px;
    font-size: 12px;
    line-height: 1;
}

.ubmat-card.-lg {
    width: 750px;
    font-size: 12px;
    line-height: 1;
}

/**/
.ubmat-textarea {
    width: 100%;
}

/* ubmat-CSS Divider */
.ubmat-divider {
    border-color: #eee;
    border-style: solid;
}

.ubmat-divider.-lg {
    margin: 24px 0;
}

.ubmat-divider.-md {
    margin: 16px 0;
}

.ubmat-divider.-sm {
    margin: 8px 0;
}

/* ubmat-CSS Panel */
.ubmat-panel {
    background-color: #fff;
    padding: 0px;
    box-shadow: 5px -2px -2px #eee;
    margin: 15px 35px;
}

/* ubmat-CSS Table */

.ubmat-table {
    width: 100%;
}

.ubmat-table td {
    padding: 0 15px;
}

/* ubmat-CSS Inputs */

.ubmat-input {
    width: 100%;
}
.ubmat-input.-sm {
    min-width: 150px;
    max-width: 250px;
    font-size: 12px;
    line-height: 1;
}

.ubmat-input.-md {
    min-width: 150px;
    max-width: 500px;
    font-size: 14px;
    line-height: 1.25;
}

.ubmat-input.-lg {
    min-width: 150px;
    max-width: 750px;
    font-size: 16px;
    line-height: 1.5;
}

/*input type number*/

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    display: none;
}

input[type='number'].ubmat-input {
    -moz-appearance: textfield;
}

/* ubmat-CSS Selects */

.ubmat-select {
    width: 100%;
}

.ubmat-select.-sm {
    min-width: 150px;
    max-width: 250px;
    font-size: 12px;
    line-height: 1;
}

.ubmat-select.-md {
    min-width: 150px;
    max-width: 500px;
    font-size: 14px;
    line-height: 1.25;
}

.ubmat-select.-lg {
    min-width: 150px;
    max-width: 750px;
    font-size: 16px;
    line-height: 1.5;
}

html,
body {
    height: 100%;
}
