/* You can add global styles to this file, and also import other style files */
/* Default theme from angular material */
/* ubmat-CORE */
ol,
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ubmat-non-boxshadow {
    box-shadow: none !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
}

.nav-find {
    background-color: #eee;
    padding: 10px 15px 0 15px;
}

.input-find {
    margin: 0;
}

.button-find {
    display: inline-block;
    margin: 0 15px;
}

/* ubmat-notification */

.ubmat-notification {
    height: 85px !important;
}

.-header {
    display: block !important;
}

.-header.-title {
    font-size: 14px !important;
    font-weight: bold !important;
}

.-content {
    margin: 7.5px 0 5px 0 !important;
    font-size: 13px !important;
    display: block !important;
}

.-footer {
    margin: 0 !important;
    color: #888 !important;
    font-size: 12px !important;
    display: block !important;
}

.ubmat-tooltip {
    background: #444;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

/* ubmat-CSS vertical-align */

.ubmat-vertical-top {
    vertical-align: top;
}

.ubmat-vertical-middle {
    vertical-align: middle;
}

.ubmat-vertical-bottom {
    vertical-align: bottom;
}

/* ubmat-CSS text-align */

.ubmat-align-l {
    text-align: left;
}

.ubmat-align-r {
    text-align: right;
}

.ubmat-align-c {
    text-align: center;
}

/* ubmat-ICON */

.ubmat-icon-xsm {
    vertical-align: middle;
    font-size: 12px;
}

.ubmat-icon-sm {
    vertical-align: middle;
    font-size: 20px;
}

.ubmat-icon-md {
    vertical-align: middle;
    font-size: 24px;
}

.ubmat-icon-lg {
    vertical-align: middle;
    font-size: 32px;
}

.ubmat-icon-xlg {
    vertical-align: middle;
    font-size: 36px;
}

.ubmat-icon-xxlg {
    vertical-align: middle;
    font-size: 64px;
}

/* ubmat-CSS font-size */

.ubmat-fs-xsm {
    font-size: 8px;
}

.ubmat-fs-sm {
    font-size: 12px;
}

.ubmat-fs-md {
    font-size: 14px;
}

.ubmat-fs-lg {
    font-size: 16px;
}

.ubmat-fs-xlg {
    font-size: 20px;
}

/* ubmat-CSS Colors B&W */

.ubmat-tc-white {
    color: #fff;
}

.ubmat-tc-gray-8 {
    color: #f5f5f5;
}

.ubmat-tc-gray-7 {
    color: #eee;
}

.ubmat-tc-gray-6 {
    color: #ddd;
}

.ubmat-tc-gray-5 {
    color: #ccc;
}

.ubmat-tc-gray-4 {
    color: #aaa;
}

.ubmat-tc-gray-3 {
    color: #888;
}

.ubmat-tc-gray-2 {
    color: #666;
}

.ubmat-tc-gray-1 {
    color: #444;
}

.ubmat-tc-gray-0 {
    color: #444;
}

.ubmat-tc-black {
    color: #000;
}

/* ubmat-CSS Background B&W */

.ubmat-bg-white {
    background: #fff;
}

.ubmat-bg-gray-8 {
    background: #f9f9f9;
}

.ubmat-bg-gray-7 {
    background: #eee;
}

.ubmat-bg-gray-6 {
    background: #ddd;
}

.ubmat-bg-gray-5 {
    background: #ccc;
}

.ubmat-bg-gray-4 {
    background: #aaa;
}

.ubmat-bg-gray-3 {
    background: #888;
}

.ubmat-bg-gray-2 {
    background: #666;
}

.ubmat-bg-gray-1 {
    background: #444;
}

.ubmat-bg-gray-0 {
    background: #444;
}

.ubmat-bg-black {
    background: #000;
}

/* ubmat-CSS Background Colors Yellow */

.ubmat-bg-yellow-1 {
    background: #fcf7c6;
}

.ubmat-bg-yellow-2 {
    background: #fff68e;
}

.ubmat-bg-yellow-3 {
    background: #fff158;
}

.ubmat-bg-yellow-4 {
    background: #fae830;
}

/* ubmat-CSS Colors Yellow */

.ubmat-tc-yellow-1 {
    color: #fcf7c6;
}

.ubmat-tc-yellow-2 {
    color: #fff68e;
}

.ubmat-tc-yellow-3 {
    color: #fff158;
}

.ubmat-tc-yellow-4 {
    color: #fae830;
}

/* ubmat-CSS Background Colors Green */

.ubmat-bg-green-1 {
    background: #5dcf7c;
}

.ubmat-bg-green-2 {
    background: #39c15d;
}

.ubmat-bg-green-3 {
    background: #00b02f;
}

.ubmat-bg-green-4 {
    background: #029730;
}

/* ubmat-CSS Colors Green */

.ubmat-tc-green-1 {
    color: #5dcf7c;
}

.ubmat-tc-green-2 {
    color: #39c15d;
}

.ubmat-tc-green-3 {
    color: #00b02f;
}

.ubmat-tc-green-4 {
    color: #029730;
}

/* ubmat-CSS Background Colors Blue */

.ubmat-bg-blue-1 {
    background: #5c8fe1;
}

.ubmat-bg-blue-2 {
    background: #3d73e2;
}

.ubmat-bg-blue-3 {
    background: #0050d1;
}

.ubmat-bg-blue-4 {
    background: #003fa4;
}

/* ubmat-CSS Colors Blue */

.ubmat-tc-blue-1 {
    color: #5c8fe1;
}

.ubmat-tc-blue-2 {
    color: #3d73e2;
}

.ubmat-tc-blue-3 {
    color: #0050d1;
}

.ubmat-tc-blue-4 {
    color: #003fa4;
}

/* ubmat-CSS Background Colors Red */

.ubmat-bg-red-1 {
    background: #f96f5e;
}

.ubmat-bg-red-2 {
    background: #f7432d;
}

.ubmat-bg-red-3 {
    background: #eb1b01;
}

.ubmat-bg-red-4 {
    background: #db1c01;
}

/* ubmat-CSS Colors Red */

.ubmat-tc-red-1 {
    color: #f96f5e;
}

.ubmat-tc-red-2 {
    color: #f7432d;
}

.ubmat-tc-red-3 {
    color: #eb1b01;
}

.ubmat-tc-red-4 {
    color: #db1c01;
}

/* ubmat-CSS Margin & Padding */
/* bottom*/
.ubmat-mb-no {
    margin-bottom: 0 !important;
}
.ubmat-mb-xsm {
    margin-bottom: 5px !important;
}
.ubmat-mb-sm {
    margin-bottom: 10px !important;
}
.ubmat-mb-md {
    margin-bottom: 15px !important;
}
.ubmat-mb-lg {
    margin-bottom: 20px !important;
}
.ubmat-mb-xlg {
    margin-bottom: 25px !important;
}

.ubmat-pb-no {
    padding-bottom: 0 !important;
}
.ubmat-pb-xsm {
    padding-bottom: 5px !important;
}
.ubmat-pb-sm {
    padding-bottom: 10px !important;
}
.ubmat-pb-md {
    padding-bottom: 15px !important;
}
.ubmat-pb-lg {
    padding-bottom: 20px !important;
}
.ubmat-pb-xlg {
    padding-bottom: 25px !important;
}
/* ubmat-CSS Margin & Padding */
/* top */
.ubmat-mt-no {
    margin-top: 0 !important;
}
.ubmat-mt-xsm {
    margin-top: 5px !important;
}
.ubmat-mt-sm {
    margin-top: 10px !important;
}
.ubmat-mt-md {
    margin-top: 15px !important;
}
.ubmat-mt-lg {
    margin-top: 20px !important;
}
.ubmat-mt-xlg {
    margin-top: 25px !important;
}

.ubmat-pt-no {
    padding-top: 0 !important;
}
.ubmat-pt-xsm {
    padding-top: 5px !important;
}
.ubmat-pt-sm {
    padding-top: 10px !important;
}
.ubmat-pt-md {
    padding-top: 15px !important;
}
.ubmat-pt-lg {
    padding-top: 20px !important;
}
.ubmat-pt-xlg {
    padding-top: 25px !important;
}
/* ubmat-CSS Margin & Padding */
/* left */
.ubmat-ml-no {
    margin-left: 0 !important;
}
.ubmat-ml-xsm {
    margin-left: 5px !important;
}
.ubmat-ml-sm {
    margin-left: 10px !important;
}
.ubmat-ml-md {
    margin-left: 15px !important;
}
.ubmat-ml-lg {
    margin-left: 20px !important;
}
.ubmat-ml-xlg {
    margin-left: 25px !important;
}

.ubmat-pl-no {
    padding-left: 0 !important;
}
.ubmat-pl-xsm {
    padding-left: 5px !important;
}
.ubmat-pl-sm {
    padding-left: 10px !important;
}
.ubmat-pl-md {
    padding-left: 15px !important;
}
.ubmat-pl-lg {
    padding-left: 20px !important;
}
.ubmat-pl-xlg {
    padding-left: 25px !important;
}
/* ubmat-CSS Margin & Padding */
/* right */
.ubmat-mr-no {
    margin-right: 0 !important;
}
.ubmat-mr-xsm {
    margin-right: 5px !important;
}
.ubmat-mr-sm {
    margin-right: 10px !important;
}
.ubmat-mr-md {
    margin-right: 15px !important;
}
.ubmat-mr-lg {
    margin-right: 20px !important;
}
.ubmat-mr-xlg {
    margin-right: 25px !important;
}

.ubmat-pr-no {
    padding-right: 0 !important;
}
.ubmat-pr-xsm {
    padding-right: 5px !important;
}
.ubmat-pr-sm {
    padding-right: 10px !important;
}
.ubmat-pr-md {
    padding-right: 15px !important;
}
.ubmat-pr-lg {
    padding-right: 20px !important;
}
.ubmat-pr-xlg {
    padding-right: 25px !important;
}
/* ubmat-CSS Margin & Padding */
/* all */
.ubmat-m-no {
    margin: 0 !important;
}
.ubmat-m-xsm {
    margin: 5px !important;
}
.ubmat-m-sm {
    margin: 10px !important;
}
.ubmat-m-md {
    margin: 15px !important;
}
.ubmat-m-lg {
    margin: 20px !important;
}
.ubmat-m-xlg {
    margin: 25px !important;
}

.ubmat-p-no {
    padding: 0 !important;
}
.ubmat-p-xsm {
    padding: 5px !important;
}
.ubmat-p-sm {
    padding: 10px !important;
}
.ubmat-p-md {
    padding: 15px !important;
}
.ubmat-p-lg {
    padding: 20px !important;
}
.ubmat-p-xlg {
    padding: 25px !important;
}
/* fin -- ubmat-CSS Margin & Padding */
/* ubmat-CSS Float */
.ubmat-fl {
    float: left;
}

.ubmat-fr {
    float: right;
}

/* ubmat-CSS Nav-bar */
.ubmat-nav-spacer {
    flex: 1 1 auto;
}

/* ubmat-CSS Tabs */

.ubmat-tab-detail-title {
    font-weight: bold;
    font-size: 14px;
    padding-top: 7.5px;
    margin-top: 2px;
}

.ubmat-tab-detail-comment {
    font-size: 12px;
    padding-bottom: 15px;
    color: #aaa;
}

.ubmat-tab-detail-group
    > .mat-tab-header
    > .mat-tab-label-container
    > .mat-tab-list
    > .mat-tab-labels
    > .mat-tab-label
    > .mat-tab-label-content {
    display: inline-block;
    text-align: left;
}

.ubmat-tab-detail-group > .mat-tab-body-wrapper > .mat-tab-body {
    min-height: 500px !important;
}

/* ubmat-CSS Card */
.ubmat-card {
    margin-top: 5px;
    margin-bottom: 10px;
}

.ubmat-card.-sm {
    width: 250px;
    font-size: 12px;
    line-height: 1;
}

.ubmat-card.-md {
    width: 500px;
    font-size: 12px;
    line-height: 1;
}

.ubmat-card.-lg {
    width: 750px;
    font-size: 12px;
    line-height: 1;
}

/**/
.ubmat-textarea {
    width: 100%;
}

/* ubmat-CSS Divider */
.ubmat-divider {
    border-color: #eee;
    border-style: solid;
}

.ubmat-divider.-lg {
    margin: 24px 0;
}

.ubmat-divider.-md {
    margin: 16px 0;
}

.ubmat-divider.-sm {
    margin: 8px 0;
}

/* ubmat-CSS Panel */
.ubmat-panel {
    background-color: #f5f5f5;
    padding: 0px;
    box-shadow: 5px -2px -2px #eee;
    margin: 15px 75px;
}

/* ubmat-CSS Table */

.ubmat-table.-xlg {
    width: 100%;
}

.ubmat-table.-lg {
    width: 75%;
}

.ubmat-table.-md {
    width: 50%;
}

.ubmat-table.-sm {
    width: 25%;
}

.ubmat-table td {
    padding: 0 15px;
}

/* ubmat-CSS Inputs */

.ubmat-input {
    width: 100%;
}
.ubmat-input.-sm {
    min-width: 150px;
    max-width: 250px;
    font-size: 12px;
    line-height: 1;
}

.ubmat-input.-md {
    min-width: 150px;
    max-width: 500px;
    font-size: 14px;
    line-height: 1.25;
}

.ubmat-input.-lg {
    min-width: 150px;
    max-width: 750px;
    font-size: 16px;
    line-height: 1.5;
}

/*input type number*/

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    display: none;
}

input[type='number'].ubmat-input {
    -moz-appearance: textfield;
}

/* ubmat-CSS Selects */

.ubmat-select {
    width: 100%;
}

.ubmat-select.-sm {
    min-width: 150px;
    max-width: 250px;
    font-size: 12px;
    line-height: 1;
}

.ubmat-select.-md {
    min-width: 150px;
    max-width: 500px;
    font-size: 14px;
    line-height: 1.25;
}

.ubmat-select.-lg {
    min-width: 150px;
    max-width: 750px;
    font-size: 16px;
    line-height: 1.5;
}

html,
body {
    height: 100%;
}
